* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: rgb(231, 231, 231);
}

.logo {
  font-size: 36px;
  font-weight: 700;
}

.menubar {
  height: 100px;
  background-color: #001124;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.menubar ul {
  display: flex;
  margin-top: 0px;
  gap: 1rem;
  position: relative;
}

.menubar li {
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

.menubar li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ecf2ff;
  bottom: 0;
  left: 0;
  top: 30px;
  transform: scaleX(0); /* Initially set the width to 0, so it's not visible */
  transform-origin: left;
  transition: transform 0.3s ease; /* Add a transition for smooth animation */
}

.menubar li:hover::before {
  transform: scaleX(1); /* Expand the width to 100% on hover */
}

.menubar li:last-child {
  margin-top: 0;
  border: none;
  width: 0%;
  height: 0px;
  bottom: 0;
  left: 0;
}

.menubar li a {
  margin-left: 5px;
  font-size: 18px;
  overflow: hidden;
}

#logo {
  border: none !important;
}

.ui-btn {
  --btn-default-bg: multiply;
  --btn-padding: 15px 20px;
  --btn-hover-bg: #001124;
  --btn-transition: 0.1s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 0.5s;
  --hover-btn-color: #ffffff;
  --default-btn-color: #fff;
}

/* button settings 👆 */

.ui-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  background: var(--btn-default-bg);
  border: none;
  transition: var(--btn-transition);
  box-shadow: var(--btn-shadow);
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
  font-size: 36px;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: '';
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: '#';
  }
  5% {
    content: '.';
  }
  10% {
    content: '^{';
  }
  15% {
    content: '-!';
  }
  20% {
    content: '#$_';
  }
  25% {
    content: '№:0';
  }
  30% {
    content: '#{+.';}35%{content: '@}-?';
  }
  40% {
    content: '?{4@%';
  }
  45% {
    content: '=.,^!';
  }
  50% {
    content: '?2@%';
  }
  55% {
    content: '\;1}]';
  }
  60% {
    content: '?{%:%';
    right: 0;
  }
  65% {
    content: '|{f[4';
    right: 0;
  }
  70% {
    content: '{4%0%';
    right: 0;
  }
  75% {
    content: "'1_0<";
    right: 0;
  }
  80% {
    content: '{0%';
    right: 0;
  }
  85% {
    content: "]>'";
    right: 0;
  }
  90% {
    content: '4';
    right: 0;
  }
  95% {
    content: '2';
    right: 0;
  }
  100% {
    content: '';
    right: 0;
  }
}


.logout {
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #015fc7;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.logout .text {
  font-family: 'OCR A Std', sans-serif;
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.logout:hover {
  width: 170px;
  border-radius: 40px;
  transition-duration: .3s;
}

.logout:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.logout:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.logout:active {
  transform: translate(2px ,2px);
}


.menubar li:first-child:before {
  transform: scaleX(0);
}



.connect-button {
  width: 135px;
  height: 35px;
  border-radius: 15px;
  cursor: pointer;
}

.connect {
  background: linear-gradient(65deg, #b9b5f9, #5c5cfc 68%, #3761b4);
  color: white;
}

.disconnect {
  background: linear-gradient(125deg, #83D475, #57C84D 68%, #2EB62C);
  color: white;
}

.connect-button:hover {
  filter: brightness(1.1);
}
